<a href="https://colab.research.google.com/github/YuYangH229/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#String continuaci√≥n

numeros_txt = "  1, 2, 3, 4  , 5   , 35    , 15   , 12"
print (numeros_txt)
numeros_txt = numeros_txt.lstrip().split(",")
print (numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[j].strip())

print (numeros_txt)

  1, 2, 3, 4  , 5   , 35    , 15   , 12
['1', ' 2', ' 3', ' 4  ', ' 5   ', ' 35    ', ' 15   ', ' 12']
[1, 2, 3, 4, 5, 35, 15, 12]

In [10]:
# funcion range

# range(inicio, stop, incremento)
print (range(0,10,1))
rango = range(2,20,3)

for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print (x)

range(0, 10)
2
5
8
11
14
17
0
1
2
3
4
5
6
7
8
9

#Listas

- mutables
- declaran con ( )
- selector [ int ]
- puede ser de cualquier 

#Tuplas 
- NO mutables
- declaran con ( )
- selectos [ int ]

#Diccionarios
- Son mutables
- Son conjunto de pares llave.valor
- Equivalente a los objetos JSON de Javascript

#Conjuntos 
- Representacion de la teoria de conjuntos

In [32]:
# Listas (equivalente a arreglos en otras lenguajes)
frutas = ["Pera" , "Manzana", "Fresa" , "Kiwi" , "Naranja"]
print (frutas)
cosas = ["cuaderno" , 2 , 3.1416 , True , ["Rojo" , "Azul" , "verde"]]
print (cosas)
cosas[0] = "Cuaderno"   # cosas[0] = cosas[0].capitalize()
print (cosas)
#agrega a la lista
frutas.append("Uva") #agregar hasta el final
print (frutas)
frutas.insert(2, "Sandia") #agregar en una posicion que indique
print (frutas)

#ajustar
fecha = ["06" , "10" , "2020"]
print (fecha)
fecha_str = "/".join(fecha)
print (fecha_str)

#eliminar elementos
print (cosas)
cosas.append("lapiz")
print (cosas)
algo = cosas.pop() #guardar el variable en algo, porsteriormente se puede imprimirlo, o reutilizarlo
print (algo)
algo = cosas.pop(2)
print (algo)
print (cosas)

['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['cuaderno', 2, 3.1416, True, ['Rojo', 'Azul', 'verde']]
['Cuaderno', 2, 3.1416, True, ['Rojo', 'Azul', 'verde']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Uva']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Uva']
['06', '10', '2020']
06/10/2020
['Cuaderno', 2, 3.1416, True, ['Rojo', 'Azul', 'verde']]
['Cuaderno', 2, 3.1416, True, ['Rojo', 'Azul', 'verde'], 'lapiz']
lapiz
3.1416
['Cuaderno', 2, True, ['Rojo', 'Azul', 'verde']]

In [41]:
#ordenar
print(frutas)
frutas.sort()
print (frutas)

#para hacer slicing
cosas = ["cuaderno" , 2 , 3.1416 , True , ["Rojo" , "Azul" , "verde"]]
print (cosas [3:6:1])
print (cosas)
print (cosas[0][2:5:1])

numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
print (numeros[8:13:1])

#sustituir de la lista de numero
numeros[8:13:1] = [-2, -2]
print (numeros)

#preguntar por exixtencia
print (-2 in numeros)
print (100 in numeros)

['Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia', 'Uva']
['Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia', 'Uva']
[True, ['Rojo', 'Azul', 'verde']]
['cuaderno', 2, 3.1416, True, ['Rojo', 'Azul', 'verde']]
ade
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
True
False

#Lista multi dimension

lista dentro de listas

In [44]:
computadora = ["HP", "Lenovo", "Mac", "Matebook"]
oss = ["Windows 10", "Linux", "android", "iOS"]

computo = [computadora,oss]
print (computo [0])
print (computo [1])
print (computo [0][1])
print (computo [1][2])
print (computo[0][2][0:3:1])

['HP', 'Lenovo', 'Mac', 'Matebook']
['Windows 10', 'Linux', 'android', 'iOS']
Lenovo
android
Mac

In [47]:
dbms = [["Mysql", "Open Source", False] , ["MS SQL Server" , "de paga" , True]]
computo.append(dbms)
print (computo)
print (computo[3][1][1])

[['HP', 'Lenovo', 'Mac', 'Matebook'], ['Windows 10', 'Linux', 'android', 'iOS'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
de paga